
.formStyle {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.visible {
    max-height: 350px;
    transition: max-height 0.2s ease-out;
}

.arrow {
    font-size:20px;
    font-weight: bold;
    background-color:transparent;
    border:none;
    transform: rotate(180deg);
    transition: transform 0.15s ease-out;
}

.arrow:focus, arrow:hover {
    border:none;
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.turnAround {
    transform: rotate(-0deg);
    transition: transform 0.3s ease-out;
}